/YT-ALL/*.crf
/YT-ALL/*.d

/YT-ALL/*.o
/YT-ALL/*.__i
/YT-ALL/*.lst
/YT-ALL/*.axf
/YT-ALL/*.hex
/YT-ALL/*.htm
/YT-ALL/*.sct
/YT-ALL/*.tra
/YT-ALL/*.Administrator
/YT-ALL/*.uvopt
/YT-ALL/*.uvproj
/YT-ALL/*.Bak
/YT-ALL/*.dep
/YT-ALL/*.lnp
/YT-ALL/*.map
/YT-ALL/*.plg

/*/*.crf
/*/*.d
/*/*.o
/*/*.__i
/*/*.lst
/*/*.axf
/*/*.hex
/*/*.htm
/*/*.sct
/*/*.tra
/*/*.Administrator
/*/*.uvopt
/*/*.uvproj
/*/*.Bak
/*/*.dep
/*/*.lnp
/*/*.map
/*/*.plg
/AT32F421_X2445_MAIN2/Project/MDK_v5/Objects
/AT32F421_X2445_MAIN2/Project/MDK_v5/Listings
/AT32F421_X2445_MAIN2/Project/MDK_v5/*.scvd
/AT32F421_X2445_MAIN2/Project/MDK_v5/JLinkLog.txt
/AT32F421_X2445_MAIN2/Project/MDK_v5/JLinkSettings.ini
/AT32F421_X2445_MAIN2/Project/MDK_v5/X2445-AT32-模拟摇杆.uvguix.gli-X220
/AT32F421_X2445_MAIN2/si4Read.si4project
/AT32F421_X2445_MAIN2/SourceRead

/AT32F421_X2445_MAIN_BASE/Project/MDK_v5/Objects
/AT32F421_X2445_MAIN_BASE/Project/MDK_v5/Listings
