/YT-ALL/*.crf
/YT-ALL/*.d

/YT-ALL/*.o
/YT-ALL/*.__i
/YT-ALL/*.lst
/YT-ALL/*.axf
/YT-ALL/*.hex
/YT-ALL/*.htm
/YT-ALL/*.sct
/YT-ALL/*.tra
/YT-ALL/*.Administrator
/YT-ALL/*.uvopt
/YT-ALL/*.uvproj
/YT-ALL/*.Bak
/YT-ALL/*.dep
/YT-ALL/*.lnp
/YT-ALL/*.map
/YT-ALL/*.plg

/*/*.crf
/*/*.d
/*/*.o
/*/*.__i
/*/*.lst
/*/*.axf
/*/*.hex
/*/*.htm
/*/*.sct
/*/*.tra
/*/*.Administrator
/*/*.uvopt
/*/*.uvproj
/*/*.Bak
/*/*.dep
/*/*.lnp
/*/*.map
/*/*.plg