/YT-ALL/*.crf
/YT-ALL/*.o
/YT-ALL/*.d
/YT-ALL/*.__i
/YT-ALL/*.lst
/YT-ALL/*.htm
/YT-ALL/*.hex
/YT-ALL/*.lnp
/YT-ALL/*.inp
/YT-ALL/*.map
/YT-ALL/*.plg
/YT-ALL/*.sct
/YT-ALL/*.tra
/YT-ALL/*.uvgui.Administrator
/YT-ALL/*.uvopt
/YT-ALL/*.uvoptj
/YT-ALL/*.Bak
/YT-ALL/*.dep
/YT-ALL/*.uvoptj
/YT-ALL/*.uvoptj
